@switch (stage) {
  @case (Stage.Start) {
    <mat-card>
      <mat-card-content>
        <h1 mat-card-title>Скупи поене</h1>
        <p>
          Скупи што више поена
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="w-100" (click)="start()">Почни</button>
      </mat-card-actions>
    </mat-card>
  }
  @case (Stage.Playing) {
    <mat-card>
      <mat-card-content>
        @switch (type) {
          @case (Type.Spelling) {
            <app-spelling [wordFactory]="wordFactory"></app-spelling>
          }
          @case (Type.SentenceBuilding) {
            <app-sentence-building [sentenceFactory]="sentenceFactory"></app-sentence-building>
          }
        }
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button class="w-100" (click)="end()">
          <mat-icon class="exit">exit_to_app</mat-icon>
          Изађи
        </button>
        @if ((sentenceFactory.success$ | async) || (wordFactory.success$ | async)) {
          <button mat-flat-button color="primary" class="w-100" (click)="next()">
            Даље
            <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
          </button>
        }
      </mat-card-actions>
      <mat-card-footer>Поени: {{totalPoints}}</mat-card-footer>
    </mat-card>
  }
}
