@switch (stage) {
  @case (Stage.Start) {
    <mat-card>
      <mat-card-content>
        <h1 mat-card-title>Скупи поене</h1>
        <p>
          Скупи што више поена
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button class="w-100" (click)="showHighScores()">
          <mat-icon>emoji_events</mat-icon>
          Резултати
        </button>
        <button mat-flat-button color="primary" class="w-100" (click)="start()">
          Играј
          <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  }
  @case (Stage.Playing) {
    <mat-card>
      @switch (type) {
        @case (Type.Spelling) {
          <mat-card-content>
            <app-spelling [wordFactory]="wordFactory"></app-spelling>
          </mat-card-content>
          @if (wordFactory.success$|async) {
            <mat-card-actions>
              <button mat-flat-button class="w-100" (click)="end()">
                <mat-icon class="exit">exit_to_app</mat-icon>
                Изађи
              </button>
              <button mat-flat-button color="primary" class="w-100" (click)="next()">
                Даље
                <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
              </button>
            </mat-card-actions>
          }
        }
        @case (Type.SentenceBuilding) {
          <mat-card-content>
            <app-sentence-building [sentenceFactory]="sentenceFactory"></app-sentence-building>
          </mat-card-content>
          @if (sentenceFactory.success$|async) {
            <mat-card-actions>
              <button mat-flat-button class="w-100" (click)="end()">
                <mat-icon class="exit">exit_to_app</mat-icon>
                Изађи
              </button>
              <button mat-flat-button color="primary" class="w-100" (click)="next()">
                Даље
                <mat-icon iconPositionEnd>keyboard_arrow_right</mat-icon>
              </button>
            </mat-card-actions>
          }
        }
      }
      <mat-card-footer>Поени: {{ totalPoints }}</mat-card-footer>
    </mat-card>
  }
  @case (Stage.EnterScore) {
    <mat-card>
      <mat-card-content>
        <h1 mat-card-title>
          <mat-icon>emoji_events</mat-icon>&nbsp;Браво!
        </h1>
        <h2 mat-card-subtitle>
          Освојио си {{ totalPoints }} поена
        </h2>
        <mat-form-field class="w-100">
          <mat-label>Име</mat-label>
          <input id="name" [formControl]="nameFormControl" matInput required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          class="w-100"
          (click)="saveScore()"
          [disabled]="nameFormControl.invalid">
          Сачувај резултат
        </button>
      </mat-card-actions>
    </mat-card>
  }
  @case (Stage.ShowHighScores) {
    <mat-card>
      <mat-card-content>
        <h1 mat-card-title>
          <mat-icon>emoji_events</mat-icon>&nbsp;Рекорди
        </h1>
        <mat-divider></mat-divider>
        <table mat-table [dataSource]="scores$">
          <mat-text-column name="name"></mat-text-column>
          <mat-text-column name="points"></mat-text-column>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  }
}
