@if (wordFactory.word) {
  <div class="playback">
    <button mat-fab (click)="playSound()">
      <mat-icon>volume_up</mat-icon>
    </button>
  </div>

  <div class="letter-list">
    @for (selectedLetter of wordFactory.selectedLetters; track $index) {
      <button
        mat-raised-button
        color="accent"
        class="letter-button"
        (click)="wordFactory.deselect(selectedLetter, $index)">
        {{ selectedLetter.value }}
      </button>
    }
  </div>

  <mat-divider></mat-divider>

  <div class="letter-list">
    @for (letter of wordFactory.letters; track $index) {
      <button
        (click)="wordFactory.select(letter, $index)"
        [disabled]="letter.selected"
        mat-raised-button
        class="letter-button">
        {{ letter.value }}
      </button>
    }
  </div>

  <audio #wordSound src="/assets/words/mp3/{{wordFactory.word}}.mp3" autoplay></audio>
}
