<mat-card>
  <mat-card-content>
    @switch (stage) {
      @case (Stage.Start) {
        <button mat-raised-button class="w-100" color="primary" (click)="start()">
          Почни
        </button>
      }
      @case (Stage.Playing) {
        <h1>{{ letter }}</h1>

        <button mat-flat-button (click)="markAsFalse()">
          Нетачно
        </button>
        <button mat-flat-button color="primary" (click)="markAsCorrect();">
          Тачно
        </button>
      }
      @case (Stage.End) {
        @if (isMaximum()) {
          <h2>Браво!</h2>
        } @else {
          <h2>{{ points }}</h2>
          <h3>{{ misses.join(', ') }}</h3>
        }
      }
    }
  </mat-card-content>
</mat-card>
