mat-sidenav-content {
  height: 100vh;
}
.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
mat-nav-list {
  padding: 0;
}
