<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" (click)="sidenav.close()">
    <mat-nav-list>
      <a mat-button routerLink="/slova">Слова</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-icon svgIcon="wolf" (click)="sidenav.open()"></mat-icon>
      <span class="spacer"></span>

      <button *ngIf="sound.isMuted(); else notMuted" mat-icon-button (click)="sound.unmute()">
        <mat-icon>volume_off</mat-icon>
      </button>
      <ng-template #notMuted>
        <button mat-icon-button (click)="sound.mute()">
          <mat-icon>volume_up</mat-icon>
        </button>
      </ng-template>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
