@if (wordFactory.currentWord) {
  <div class="playback">
    <button mat-fab (click)="playWordSound()">
      <mat-icon>volume_up</mat-icon>
    </button>
  </div>

  <div class="letter-list">
    <button
      *ngFor="let selectedLetter of wordFactory.selectedLetters"
      (click)="wordFactory.deselectLetter(selectedLetter)"
      mat-raised-button
      color="accent"
      class="letter-button">
      {{ selectedLetter }}
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="letter-list">
    @for (letter of wordFactory.currentWord.letters; track wordFactory.currentWord.original) {
      <button
        (click)="wordFactory.selectLetter(letter)"
        mat-raised-button
        class="letter-button">
        {{ letter }}
      </button>
    }
  </div>

  <audio #wordSound src="/assets/words/mp3/{{wordFactory.currentWord.original}}.mp3" autoplay></audio>
}
