@if (sound.isMuted()) {
  <mat-card>
    <mat-card-content>
      <p>
        За ову игру је потребно да укључите звук
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" class="w-100" (click)="sound.unmute()">Укључи звук</button>
    </mat-card-actions>
  </mat-card>
} @else {
  @switch (stage) {
    @case (Stage.Start) {
      <mat-card>
        <mat-card-content>
          <button mat-flat-button color="primary" class="w-100" (click)="start()">Почни</button>
        </mat-card-content>
      </mat-card>
    }
    @case (Stage.Playing) {
      @if (spelling.currentWord) {
        <mat-card>
          <mat-card-content>
            <div class="playback">
              <button mat-fab (click)="playWordSound()">
                <mat-icon>volume_up</mat-icon>
              </button>
            </div>

            <div class="letter-list">
              <button
                *ngFor="let selectedLetter of spelling.selectedLetters"
                (click)="spelling.deselectLetter(selectedLetter)"
                mat-raised-button
                color="accent"
                class="letter-button">
                {{ selectedLetter }}
              </button>
            </div>

            <mat-divider></mat-divider>

            <div class="letter-list">
              @for (letter of spelling.currentWord.letters; track spelling.currentWord.original) {
                <button
                  (click)="spelling.selectLetter(letter)"
                  mat-raised-button
                  class="letter-button">
                  {{ letter }}
                </button>
              }
            </div>
          </mat-card-content>
          @if (spelling.isCurrentWordGuessed()) {
            <mat-card-actions>
              <button mat-flat-button color="primary" class="w-100" (click)="advance()">Следећа реч</button>
            </mat-card-actions>
          }
          <mat-card-footer>
            {{spelling.currentWordNumber}} / {{spelling.allWordsCount}}
          </mat-card-footer>
        </mat-card>

        <audio #wordSound src="/assets/words/mp3/{{spelling.currentWord.original}}.mp3" autoplay></audio>
      }
    }
    @case (Stage.End) {
      <mat-card>
        <mat-card-content>
          <h1 mat-card-title>
            <mat-icon>emoji_events</mat-icon>&nbsp;Браво!
          </h1>
          <h2 mat-card-subtitle>
            Написао си {{ spelling.allWordsCount }} речи
          </h2>
        </mat-card-content>
      </mat-card>
    }
  }
}
