<mat-card>
  <mat-card-content>
    @switch (stage) {
      @case (Stage.Start) {
        <button mat-flat-button color="primary" class="w-100" (click)="start()">Почни</button>
      }
      @case (Stage.Playing) {
        @if (word) {
          <div class="playback">
            <button mat-fab (click)="playWordSound()">
              <mat-icon>volume_up</mat-icon>
            </button>
          </div>

          <div class="letter-list">
            <button
              *ngFor="let selectedLetter of selectedLetters"
              (click)="deselectLetter(selectedLetter)"
              mat-stroked-button
              color="primary"
              class="letter-button">
              {{ selectedLetter }}
            </button>
          </div>

          <mat-divider></mat-divider>

          <div class="letter-list">
            @for (letter of word.letters; track word.original) {
              <button
                (click)="selectLetter(letter)"
                mat-stroked-button
                class="letter-button">
                {{ letter }}
              </button>
            }
          </div>

          @if (isCorrect()) {
            <button mat-flat-button color="primary" (click)="next()">Следеће</button>
          }

          <audio #wordSound src="/assets/words/{{word.sound}}" autoplay></audio>
        }
      }
    }
  </mat-card-content>
</mat-card>
