mat-card {
  width: 90%;
  margin: 1em auto;
}
.w-100 {
  width: 100%;
}
.playback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}
.letter-list {
  display: flex;
  flex-wrap: wrap;
}
.letter-button {
  text-transform: uppercase;
  margin: .5em
}
